Winners:
* Cohort
* Student id

In [75]:
import pymysql
from sqlalchemy import create_engine
import getpass

password=getpass.getpass()

········

In [76]:
eng=create_engine(f"mysql+pymysql://root:{password}@localhost/hof")

In [97]:
tot.to_sql("students", eng)

In [33]:
import requests as r
from bs4 import BeautifulSoup

headers="""Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
Accept-Encoding: gzip, deflate, br
Cache-Control: no-cache
Connection: keep-alive
Cookie: _octo=GH1.1.495336122.1588197818; tz=Europe%2FMadrid; _device_id=3e5d463bf0446012d65bdfa018b4e3dc; _ga=GA1.2.1805656397.1591012101; logged_in=yes; dotcom_user=Eldiias; user_session=pwPnB7WQA7eN6xXto4rtKNTdHQWjmWWK-xRJFtE035F1G0hr; __Host-user_session_same_site=pwPnB7WQA7eN6xXto4rtKNTdHQWjmWWK-xRJFtE035F1G0hr; has_recent_activity=1; _gid=GA1.2.1110359907.1596533794; _gh_sess=ypbomtc7%2FmSl5BG4LaEkQ8tA92Aob4tDCzdmZc62zDvSh4%2F8kVno7uz2kU3pP%2FR927jam05Lkrq7o5v5%2FJn%2Bfiy6ozZuv%2BXWghNbP3V7%2FxiR9pjBj4Hwctuhzg650q6TIJjRkXBg8aXJeX3Wx6oq9RIgfmP7lUrw6mytq1XvAVj9WA4oApdFVq%2Fbf8WxJXmyQwJVO15S%2F8rLy0t0M1ftrcOLDfrRmt2QEZchnUjtOQpv8q4l2Vd9k6cYbvaD%2FzxLvU6ipDegFEntYn9CgP01AW6W%2Ftdn6wIgR3GvYCyEcHhdkizOiIrr4Gsu3lGUTtw9rWPlc%2F%2B6Dh78nZKltb1wjX1nfyAiPPXm811ishlTbjcwKtUpPl4bwJGW15mRzsJJ1LJIvOqFzCJACzZMnKDIofD2pp4SGy8peK49Do1NHDTc8qMQi9pNs6VJgzHloQyQ%2FZNBVU9RfS3eGFnuK0uM4Aw0jGPyq9djVXgC2KoKgqHwxylYbhNlqXAtykh%2BHJbgWYRx1Uo5hKHG1J1St9lLnTwePXPi64RSwxfmg8wIrXkrarEV--DBQF11sU2ShY18T5--GAcCdFpN6qVHXbSHrnv2OQ%3D%3D
DNT: 1
Host: github.com
Pragma: no-cache
Sec-Fetch-Dest: document
Sec-Fetch-Mode: navigate
Sec-Fetch-Site: none
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36 OPR/70.0.3728.71"""

headers=dict(i.split(': ') for i in headers.split('\n'))

def get_last_update(jj):
    for k, v in reversed(list(jj.items())):
        if int(v)>0:
            return k
            break
        if k==list(jj.keys())[0]:
            return None
        
def get_list_of_data(profile):
    j={i.get('data-date'):i.get('data-count') for i in BeautifulSoup(r.get(f'https://github.com/{profile}', headers=headers).content).select('svg>g rect')}
    return get_last_update(j)

In [34]:
import re

In [104]:
tot['Last_Update']=tot.URL.map(lambda text: re.findall('https://github.com/(.*)', text)[0]).map(get_list_of_data)

In [105]:
tot

          Name                                  URL     Cohort Last_Update
0        Ambre            https://github.com/AmbreP 2019-05-01  2020-07-27
1     Eléonore       https://github.com/EleonoreNrt 2019-05-01        None
2       Jordan        https://github.com/jordanbaez 2019-05-01  2020-02-03
3        Julia              https://github.com/JVBW 2019-05-01        None
4   Marguerite       https://github.com/MargueriteV 2019-05-01        None
..         ...                                  ...        ...         ...
62        Igor       https://github.com/igorshkokov 2020-08-01  2020-11-02
63       Marie          https://github.com/MarieNav 2020-08-01  2020-11-30
64     Tatiana  https://github.com/tatiana-martinez 2020-08-01  2020-10-23
65   Thai Linh       https://github.com/EricBui0201 2020-08-01  2020-12-10
66       Tiago       https://github.com/tmcdonald92 2020-08-01  2020-11-03

[67 rows x 4 columns]

In [106]:
tot.Last_Update=pd.to_datetime(tot.Last_Update)

In [107]:
tot['Difference']=(datetime.now()-tot.Last_Update).dt.days.apply(lambda x: None if x>180 else x)

In [8]:
newdf=tot.copy()

NameError: name 'tot' is not defined

In [115]:
newdf.dropna().drop(["Last_Update","Difference"], axis=1).to_sql("six_months", eng, index=False)

In [119]:
newdf[newdf.Last_Update.isna()].drop(["Last_Update","Difference"], axis=1).to_sql("no_update", eng, index=False)

In [14]:
pd.DataFrame([[j.strip("*") for j in i.split(':** ')] for i in """**May 2018:** Tom Nunziata
**August 2019:** Alexis Martin
**October 2019:** Mathilde Habib
**January 2020:** Gabrielle Béranger
**March 2020:** Camille Libert-Coubard
**June 2020:**  Sylvia Lee
**August 2020:** Tiago McDonald""".split('\n')], columns=['Cohort', 'Name']).to_sql("winners", eng, if_exists="replace", index=False)