In [2]:
import pymysql
from sqlalchemy import create_engine
import getpass

password=getpass.getpass()

In [4]:
eng=create_engine(f"mysql+pymysql://root:{password}@localhost/hof")

In [5]:
from sqlalchemy import inspect
inspect(eng).get_table_names()

['no_update', 'six_months', 'students', 'winners']

In [70]:
table = """|   index | Name      | URL                                  | Cohort              |
|--------:|:----------|:-------------------------------------|:--------------------|
|       0 | Ambre     | https://github.com/AmbreP            | 2019-05-01 00:00:00 |
|      17 | Archana   | https://github.com/archanaVi         | 2019-10-01 00:00:00 |
|      18 | Deepika   | https://github.com/Deepika-Vijay     | 2019-10-01 00:00:00 |
|      21 | Marie     | https://github.com/MarieLatt         | 2019-10-01 00:00:00 |
|      22 | Mathilde  | https://github.com/Mathildehabib     | 2019-10-01 00:00:00 |
|      23 | Meliné    | https://github.com/MelineM           | 2019-10-01 00:00:00 |
|      27 | Abelia    | https://github.com/abeliapetelle     | 2020-01-01 00:00:00 |
|      29 | Andre     | https://github.com/andrevitta        | 2020-01-01 00:00:00 |
|      32 | Gabrielle | https://github.com/gabrielleberanger | 2020-01-01 00:00:00 |
|      34 | Mykola    | https://github.com/Aciago            | 2020-01-01 00:00:00 |
|      35 | Victor    | https://github.com/VRFaille          | 2020-01-01 00:00:00 |
|      39 | Elise     | https://github.com/esilesvn          | 2020-03-01 00:00:00 |
|      43 | Ludivine  | https://github.com/LudivineLacour    | 2020-03-01 00:00:00 |
|      44 | Lukas     | https://github.com/Lukas-DH          | 2020-03-01 00:00:00 |
|      48 | Safa      | https://github.com/SafaEl31          | 2020-03-01 00:00:00 |
|      49 | Amelie    | https://github.com/amelie-vogel      | 2020-06-01 00:00:00 |
|      50 | Katarzyna | https://github.com/Kasia314          | 2020-06-01 00:00:00 |
|      51 | Lucille   | https://github.com/Lucille-Art       | 2020-06-01 00:00:00 |
|      52 | Manuela   | https://github.com/BuenofM           | 2020-06-01 00:00:00 |
|      53 | Sacha     | https://github.com/sachadolle        | 2020-06-01 00:00:00 |
|      54 | Sandrine  | https://github.com/srosamont         | 2020-06-01 00:00:00 |
|      56 | Sylvia    | https://github.com/nclee17           | 2020-06-01 00:00:00 |
|      57 | Arthur    | https://github.com/Arthur-Lapeyrere  | 2020-08-01 00:00:00 |
|      58 | Aurore    | https://github.com/AuroreSupiot      | 2020-08-01 00:00:00 |
|      59 | Diagou    | https://github.com/Diagb             | 2020-08-01 00:00:00 |
|      60 | Etienne   | https://github.com/EtienneLeconte    | 2020-08-01 00:00:00 |
|      61 | Geoffroy  | https://github.com/geoffroydelaroche | 2020-08-01 00:00:00 |
|      62 | Igor      | https://github.com/igorshkokov       | 2020-08-01 00:00:00 |
|      63 | Marie     | https://github.com/MarieNav          | 2020-08-01 00:00:00 |
|      64 | Tatiana   | https://github.com/tatiana-martinez  | 2020-08-01 00:00:00 |
|      65 | Thai Linh | https://github.com/EricBui0201       | 2020-08-01 00:00:00 |
|      66 | Tiago     | https://github.com/tmcdonald92       | 2020-08-01 00:00:00 |
|       1 | Eléonore      | https://github.com/EleonoreNrt       | 2019-05-01 00:00:00 |
|       2 | Jordan        | https://github.com/jordanbaez        | 2019-05-01 00:00:00 |
|       3 | Julia         | https://github.com/JVBW              | 2019-05-01 00:00:00 |
|       4 | Marguerite    | https://github.com/MargueriteV       | 2019-05-01 00:00:00 |
|       5 | Meriem        | https://github.com/MeriemMar         | 2019-05-01 00:00:00 |
|       6 | Timothée      | https://github.com/ciscogoya         | 2019-05-01 00:00:00 |
|       7 | Tom           | https://github.com/TN1106            | 2019-05-01 00:00:00 |
|       8 | Agathe        | https://github.com/AAgathe           | 2019-08-01 00:00:00 |
|       9 | Alexis        | https://github.com/Alexis2507        | 2019-08-01 00:00:00 |
|      10 | Ana           | https://github.com/ana-elena         | 2019-08-01 00:00:00 |
|      11 | Axel          | https://github.com/axeca             | 2019-08-01 00:00:00 |
|      12 | Boris         | https://github.com/BorisDarque       | 2019-08-01 00:00:00 |
|      13 | Claire        | https://github.com/ClaireLemoine     | 2019-08-01 00:00:00 |
|      14 | Linh          | https://github.com/linhh18           | 2019-08-01 00:00:00 |
|      15 | Sarah         | https://github.com/Sarahpl           | 2019-08-01 00:00:00 |
|      16 | Shivalika     | https://github.com/shivalikatanwar   | 2019-08-01 00:00:00 |
|      19 | Flora         | https://github.com/FloraDelmas       | 2019-10-01 00:00:00 |
|      20 | Leila         | https://github.com/CLeila            | 2019-10-01 00:00:00 |
|      24 | Rafaela       | https://github.com/Rafaela-TIRADO    | 2019-10-01 00:00:00 |
|      25 | Shadha        | https://github.com/Shadha0806        | 2019-10-01 00:00:00 |
|      26 | Slava         | https://github.com/Slavulyaa         | 2019-10-01 00:00:00 |
|      28 | Alexis        | https://github.com/AlexisLacabane    | 2020-01-01 00:00:00 |
|      30 | Charlotte     | https://github.com/Charlotte-Ardaens | 2020-01-01 00:00:00 |
|      31 | Christopher   | https://github.com/cangeles14        | 2020-01-01 00:00:00 |
|      33 | Miriam        | https://github.com/miriamfc          | 2020-01-01 00:00:00 |
|      36 | Virginie      | https://github.com/vibiii            | 2020-01-01 00:00:00 |
|      37 | Bernard       | https://github.com/Berlione1         | 2020-03-01 00:00:00 |
|      38 | Camille       | https://github.com/Camillelib        | 2020-03-01 00:00:00 |
|      40 | François      | https://github.com/wawa2102          | 2020-03-01 00:00:00 |
|      41 | Jean-Baptiste | https://github.com/JBoissonnat       | 2020-03-01 00:00:00 |
|      42 | Jean-Denis    | https://github.com/JeanDenisD        | 2020-03-01 00:00:00 |
|      45 | Michael       | https://github.com/Mike-Wenzell      | 2020-03-01 00:00:00 |
|      46 | Mohamad       | https://github.com/MoeDougs          | 2020-03-01 00:00:00 |
|      47 | Nasser        | https://github.com/naserfahsi        | 2020-03-01 00:00:00 |
|      55 | Severine      | https://github.com/hannahkusama      | 2020-06-01 00:00:00 |"""

In [6]:
import pandas as pd

In [74]:
t = pd.DataFrame([[j.strip() for j in i.split('|')] for i in table.split('\n')])
t.drop([0,5], axis=1, inplace = True)

In [75]:
t.columns =t.loc[0]
t.drop([0,1], inplace = True)

In [76]:
t['index']=t['index'].astype(int)
t = t.sort_values('index').set_index('index')
t.Cohort = pd.to_datetime(t.Cohort)

In [77]:
t

0            Name                                  URL     Cohort
index
0           Ambre            https://github.com/AmbreP 2019-05-01
1        Eléonore       https://github.com/EleonoreNrt 2019-05-01
2          Jordan        https://github.com/jordanbaez 2019-05-01
3           Julia              https://github.com/JVBW 2019-05-01
4      Marguerite       https://github.com/MargueriteV 2019-05-01
...           ...                                  ...        ...
62           Igor       https://github.com/igorshkokov 2020-08-01
63          Marie          https://github.com/MarieNav 2020-08-01
64        Tatiana  https://github.com/tatiana-martinez 2020-08-01
65      Thai Linh       https://github.com/EricBui0201 2020-08-01
66          Tiago       https://github.com/tmcdonald92 2020-08-01

[67 rows x 3 columns]

In [78]:
dct = {'Iñigo':'https://github.com/inigomb',
    'Jiawei':'https://github.com/jiawei-li89',
    'Ludovica':'https://github.com/ludovicads',
    'Mahshid':'https://github.com/mahshidAM',
    'Matthieu':'https://github.com/mattcoget',
    'Meitar':'https://github.com/meitarkeshet',
    'Thomas':'https://github.com/Thomas-chenu',
    'Yani':'https://github.com/Onizuka-gto',
    'Bruna':'https://github.com/BrunaClo/',
    'Daniel':'https://github.com/DanielFerreira-bit',
    'Edwin':'https://github.com/teahupoo20',
    'Laetitia':'https://github.com/laetitiamil',
    'Leonardo':'https://github.com/leo-cavalcante',
    'Natalia':'https://github.com/NataliaRocks',
    'Nicolas':'https://github.com/nicomerle',
    'Alan':'https://github.com/AxZxP',
    'Israel':'https://github.com/isra-st',
    'Vinamrata':'https://github.com/vinamrata-git',
    'Zenayela':'https://github.com/zenayela'}

In [79]:
update = pd.DataFrame.from_dict(dct, orient='index').reset_index().rename(columns={'index':'Name', 0:'URL'})
update['Cohort'] = '2020-11-01'
update.loc[8:,'Cohort'] = '2021-02-01'

In [80]:
update.Cohort = pd.to_datetime(update.Cohort)
tot = pd.concat([t,update], ignore_index = True)

In [82]:
tot.to_sql("students", eng, index=False)

In [83]:
import requests as r
from bs4 import BeautifulSoup

headers="""Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
Accept-Encoding: gzip, deflate, br
Cache-Control: no-cache
Connection: keep-alive
Cookie: _octo=GH1.1.495336122.1588197818; tz=Europe%2FMadrid; _device_id=3e5d463bf0446012d65bdfa018b4e3dc; _ga=GA1.2.1805656397.1591012101; logged_in=yes; dotcom_user=Eldiias; user_session=pwPnB7WQA7eN6xXto4rtKNTdHQWjmWWK-xRJFtE035F1G0hr; __Host-user_session_same_site=pwPnB7WQA7eN6xXto4rtKNTdHQWjmWWK-xRJFtE035F1G0hr; has_recent_activity=1; _gid=GA1.2.1110359907.1596533794; _gh_sess=ypbomtc7%2FmSl5BG4LaEkQ8tA92Aob4tDCzdmZc62zDvSh4%2F8kVno7uz2kU3pP%2FR927jam05Lkrq7o5v5%2FJn%2Bfiy6ozZuv%2BXWghNbP3V7%2FxiR9pjBj4Hwctuhzg650q6TIJjRkXBg8aXJeX3Wx6oq9RIgfmP7lUrw6mytq1XvAVj9WA4oApdFVq%2Fbf8WxJXmyQwJVO15S%2F8rLy0t0M1ftrcOLDfrRmt2QEZchnUjtOQpv8q4l2Vd9k6cYbvaD%2FzxLvU6ipDegFEntYn9CgP01AW6W%2Ftdn6wIgR3GvYCyEcHhdkizOiIrr4Gsu3lGUTtw9rWPlc%2F%2B6Dh78nZKltb1wjX1nfyAiPPXm811ishlTbjcwKtUpPl4bwJGW15mRzsJJ1LJIvOqFzCJACzZMnKDIofD2pp4SGy8peK49Do1NHDTc8qMQi9pNs6VJgzHloQyQ%2FZNBVU9RfS3eGFnuK0uM4Aw0jGPyq9djVXgC2KoKgqHwxylYbhNlqXAtykh%2BHJbgWYRx1Uo5hKHG1J1St9lLnTwePXPi64RSwxfmg8wIrXkrarEV--DBQF11sU2ShY18T5--GAcCdFpN6qVHXbSHrnv2OQ%3D%3D
DNT: 1
Host: github.com
Pragma: no-cache
Sec-Fetch-Dest: document
Sec-Fetch-Mode: navigate
Sec-Fetch-Site: none
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36 OPR/70.0.3728.71"""

headers=dict(i.split(': ') for i in headers.split('\n'))

def get_last_update(jj):
    for k, v in reversed(list(jj.items())):
        if int(v)>0:
            return k
            break
        if k==list(jj.keys())[0]:
            return None
        
def get_list_of_data(profile):
    j={i.get('data-date'):i.get('data-count') for i in BeautifulSoup(r.get(f'https://github.com/{profile}', headers=headers).content).select('svg>g rect')}
    return get_last_update(j)

In [84]:
import re

In [85]:
tot['Last_Update']=tot.URL.map(lambda text: re.findall('https://github.com/(.*)', text)[0]).map(get_list_of_data)

In [98]:
tot

,Name,URL,Cohort,Last_Update,Difference
0,Ambre,https://github.com/AmbreP,2019-05-01,2020-07-27,NaN
1,Eléonore,https://github.com/EleonoreNrt,2019-05-01,NaT,NaN
2,Jordan,https://github.com/jordanbaez,2019-05-01,NaT,NaN
3,Julia,https://github.com/JVBW,2019-05-01,NaT,NaN
4,Marguerite,https://github.com/MargueriteV,2019-05-01,NaT,NaN
...,...,...,...,...,...
81,Nicolas,https://github.com/nicomerle,2021-02-01,2021-02-01,63.0
82,Alan,https://github.com/AxZxP,2021-02-01,2021-03-23,13.0
83,Israel,https://github.com/isra-st,2021-02-01,2021-03-19,17.0
84,Vinamrata,https://github.com/vinamrata-git,2021-02-01,2021-04-03,2.0
85,Zenayela,https://github.com/zenayela,2021-02-01,2021-02-22,42.0

In [99]:
tot.Last_Update=pd.to_datetime(tot.Last_Update)

In [100]:
from datetime import datetime

In [102]:
datetime.now()-tot.Last_Update

0    252 days 16:23:16.268328
1                         NaT
2                         NaT
3                         NaT
4                         NaT
               ...
81    63 days 16:23:16.268328
82    13 days 16:23:16.268328
83    17 days 16:23:16.268328
84     2 days 16:23:16.268328
85    42 days 16:23:16.268328
Name: Last_Update, Length: 86, dtype: timedelta64[ns]

In [103]:
tot['Difference']=(datetime.now()-tot.Last_Update).dt.days.apply(lambda x: None if x>180 else x)

In [104]:
newdf=tot.copy()

In [106]:
newdf

,Name,URL,Cohort,Last_Update,Difference
0,Ambre,https://github.com/AmbreP,2019-05-01,2020-07-27,NaN
1,Eléonore,https://github.com/EleonoreNrt,2019-05-01,NaT,NaN
2,Jordan,https://github.com/jordanbaez,2019-05-01,NaT,NaN
3,Julia,https://github.com/JVBW,2019-05-01,NaT,NaN
4,Marguerite,https://github.com/MargueriteV,2019-05-01,NaT,NaN
...,...,...,...,...,...
81,Nicolas,https://github.com/nicomerle,2021-02-01,2021-02-01,63.0
82,Alan,https://github.com/AxZxP,2021-02-01,2021-03-23,13.0
83,Israel,https://github.com/isra-st,2021-02-01,2021-03-19,17.0
84,Vinamrata,https://github.com/vinamrata-git,2021-02-01,2021-04-03,2.0
85,Zenayela,https://github.com/zenayela,2021-02-01,2021-02-22,42.0

In [122]:
newdf.Cohort = newdf.Cohort.dt.strftime('%b %Y')

In [123]:
newdf.loc[newdf.Difference.isna(), 'Name':'Cohort'].to_sql("no_update", eng, if_exists = 'replace', index=False)

In [124]:
newdf.loc[~newdf.Difference.isna(), 'Name':'Cohort'].to_sql("six_months", eng, if_exists = 'replace', index=False)

In [129]:
pd.DataFrame([[j.strip("*") for j in i.split(':** ')] for i in """**May 2018:** Tom Nunziata
**August 2019:** Alexis Martin
**October 2019:** Mathilde Habib
**January 2020:** Gabrielle Béranger
**March 2020:** Camille Libert-Coubard
**June 2020:** Sylvia Lee
**August 2020:** Tiago McDonald
**November 2020:** Ludovica Di Silvestre, Thomas Chenu
**February 2021:** pending, TBA
**April 2021:** pending, TBA""".split('\n')], columns=['Cohort', 'Name']).to_sql("winners", eng, if_exists="replace", index=False)

In [19]:
tas = """| Name             | URL                                           |
|:-----------------|:----------------------------------------------|
| Armen Karapetyan | https://github.com/armenkrptn                 |
| Sandeep Singh    | https://github.com/ssingh288                  |
| Francklin Handou | https://www.linkedin.com/in/francklin-handou/ |
| Alexis Martin    | https://github.com/Alexis2507                 |
| Axel Cajselius   | https://github.com/axeca                      |
| Shivalika Tanwar | https://github.com/shivalikatanwar            |
| Manohar Sitapati | https://github.com/TheManohar                 |
| Sylvia Lee       | https://github.com/nclee17                    |
| Matthieu Coget   | https://github.com/mattcoget                  |"""

In [20]:
tas = pd.DataFrame([[j.strip() for j in i.split('|')] for i in tas.split('\n')])
tas

   0                   1                                                2 3
0                   Name                                              URL
1     :-----------------  :----------------------------------------------
2       Armen Karapetyan                    https://github.com/armenkrptn
3          Sandeep Singh                     https://github.com/ssingh288
4       Francklin Handou    https://www.linkedin.com/in/francklin-handou/
5          Alexis Martin                    https://github.com/Alexis2507
6         Axel Cajselius                         https://github.com/axeca
7       Shivalika Tanwar               https://github.com/shivalikatanwar
8       Manohar Sitapati                    https://github.com/TheManohar
9             Sylvia Lee                       https://github.com/nclee17
10        Matthieu Coget                     https://github.com/mattcoget

In [21]:
tas.drop(3, axis=1, inplace=True)

In [22]:
tas.columns = tas.loc[0]

In [23]:
tas = tas.drop([0,1])

In [36]:
tas = tas.iloc[:,1:]

In [37]:
tas.to_sql("tas", eng, if_exists="replace", index=False)